.row {
  display: flex;
  justify-content: space-around;
}

.container {
  display: inline-block;
  width: 40%;
  margin: 5px 0px 0px 10px;
  box-sizing: border-box;
}

h3 {
  font-size: 2.8em;
  margin: 30px 0px 20px 15px;
  font-family: 'Bebas Neue', 'cursive';
  font-weight: 400;
}

a {
  font-size: 1.3em;
  text-decoration: none;
  color: black;
}

a:hover {
  text-shadow: 3px 3px 7px #ff4949ce;
}

.content {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 8px;
}

.cart-item {
  display: flex;
  justify-content: space-around;
  border-bottom: solid 1px #949494;
  margin-bottom: 3px;
  padding-bottom: 8px;
  padding-top: 8px;
  background-color: #f3f3f39f;
}

.item-name {
  font-size: 1.5rem;
  margin-right: 25px;
}

.item-price {
  font-size: 1.5em;
  font-weight: 500;
  color: #5aaa50;
}

.form {
  width: 500px;
  padding: 10px;
  margin: 10px;
}

h4 {
  font-size: 1.8em;
  font-weight: 400;
}

.in-name {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 300;
}

.in-address {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 300;
}

.in-name input[type=text] {
  width: 90%;
  height: 30px;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #33333375;
  background: #f8f8f8;
  border: 1px solid #00000085;
}

.in-address input[type=text] {
  width: 90%;
  height: 30px;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #33333375;
  background: #f8f8f8;
  border: 1px solid #00000085;
}

.in-address input[type=text]:hover,
.in-name input[type=text]:hover {
    background: #ffffff;
    border: 1px solid #FF4949;
}

button {
  background-color: #FF4949;
}
