<h2>Products</h2>

<div class="row">
  <mat-card *ngFor="let product of products">
    <div class="content">
      <mat-card-title>
        <a [title]="product.name + ' details'">
          {{ product.name }}
        </a>
      </mat-card-title>
      <div class="line"> </div>
      <mat-card-subtitle *ngIf="product.description">
        Description: {{ product.description }}
      </mat-card-subtitle>
    </div>

    <mat-card-actions>
      <button mat-raised-button (click)="share()">
        Share <mat-icon>share</mat-icon>
      </button>
      <app-product-alerts [product]="product" (notify)="onNotify()"> </app-product-alerts>
    </mat-card-actions>
  </mat-card>
</div>
