h2 {
  font-size: 2.5em;
  margin: 10px 0px 12px 15px;
}

a {
  color: white;
  font-weight: bold;
  font-size: 1em;

}

mat-card-title {
  margin: 5px 0px 5px 10px;
}

mat-card-subtitle {
  font-size: 1.1em;
  color: rgb(245, 245, 245);
  margin: 10px 0px 20px 5px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content:left;
}

mat-card {
  background-color: #FF4949;
  flex-basis: 25%;
  margin: 10px 10px 10px 10px ;
  width: 250px;
}

.content {
  display: inline-block;
  height: 150px;
}

mat-card-actions {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

button {
  background-color: #541690;
  width: 110px;

}

.line {
  width: 300px;
  height: 2px;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 5px;
}
