h2 {
  font-size: 2.8em;
  margin: 30px 0px 20px 15px;
  font-family: 'Bebas Neue', 'cursive';
  font-weight: 400;
}

a {
  color: rgb(26, 26, 26);
  font-weight: bold;
  font-size: 1em;
  text-decoration: none;

}

mat-card-title {
  font-family: 'Bebas Neue', 'cursive';
  margin: 5px 0px 5px 10px;
}

mat-card-title:hover {
  text-shadow: 3px 3px 7px #ff4949ce;
}

mat-card-subtitle {
  font-size: 1.1em;
  color: rgb(49, 49, 49);
  margin: 10px 0px 20px 5px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content:left;
}

mat-card {
  background-color: #fdfdfd;
  flex-basis: 25%;
  margin: 10px 10px 10px 10px ;
  width: 250px;
}

.content {
  display: inline-block;
  height: 150px;
}

mat-card-actions {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

button {
  background-color: #FF4949;
  width: 110px;

}

.line {
  width: 300px;
  height: 2px;
  background-color: rgb(29, 29, 29);
  margin-bottom: 10px;
  border-radius: 5px;
}
