.container {
  display: inline-block;
  width: 40%;
  margin: 5px 0px 0px 10px;
  box-sizing: border-box;
}

h3 {
  font-size: 2.2em;
  font-weight: 600;
}

.content {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 8px;
}

.shipping-item {
  display: flex;
  justify-content: space-around;
  border-bottom: solid 1px #949494;
  margin-bottom: 3px;
  padding-bottom: 8px;
  padding-top: 8px;
  background-color: #f3f3f39f;
}

.item-name {
  font-size: 1.5rem;
  margin-right: 45px;
}

.item-price {
  font-size: 1.5em;
  font-weight: 500;
  color: #5aaa50;
}
